/* GroupName: TeamCDN (Chaitra Bekal, Dipak Meher, Nishad Main) */
.w3-content {
    background-color: blue;
}
.main_card{
    margin-top: 40px;
}
.homeDiv{
    display: flex;
    justify-content:end ;
    align-items: center;
}
#lbl_studSurvey{
    margin-top: 20px;
    margin-bottom: 20px;
}
#lbl_perInfo{
    margin-top: 20px;
    margin-bottom: 20px;
}
#lbl_feedback{
    margin-top: 20px;
    margin-bottom: 20px;
}
#lbl_tryLuck{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btnSubmit, .btnCancel{
    margin-bottom: 20px;
}
